<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

 	
 	<bean id="Fortune"
 	class="Aryabhataa.Aryabhatta.coachFortune">
 	</bean>
    
    
 	
 	<bean id="myCoach"
 		class="Aryabhataa.Aryabhatta.footballCoach" 
 		init-method="startMethod" 
 		destroy-method="endMethod">
 		<property name="CoachFortune" ref="Fortune"/>
 		<property name="teamName" value="ChennaiSuperKings"/>
 		<property name="capName" value="MS.DHONI"/>		
 	</bean>
 	
 	<context:component-scan base-package="Aryabhataa.Aryabhatta" />
 	

</beans>





